@model Subs.MimsWeb.Models.LoginRequest

@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">


    <script src="/Scripts/jquery-3.4.1.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <link href="/Content/jquery-ui.css" rel="stylesheet" />
    <script src="/Scripts/Default.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/Content/SignUp.css" />

    <title>Mims Login</title>
    <style>
        body {
            padding: 20px;
            font-family: 'Roboto', sans-serif;
            background-color: #F5F5F5;
        }
        /*Sign In Form*/
        .signin {
            position: relative;
            height: 650px;
            width: 500px;
            margin: auto;
            box-shadow: 0px 30px 125px -5px #000;
        }
        /*Background Img*/
        .back-img {
            position: relative;
            width: 100%;
            height: 170px;
            background: url('https://www.omnihotels.com/-/media/images/hotels/nycber/destinations/nyc-aerial-skyline.jpg?h=660&la=en&w=1170')no-repeat center center;
            background-size: cover;
        }

        .layer {
            background-color: rgba(33,150,243,0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .active {
            padding-left: 25px;
            color: #fff;
        }

        .nonactive {
            color: rgba(255, 255, 255, 0.6);
        }

        .sign-in-text {
            top: 135px;
            position: absolute;
            z-index: 1;
        }

        h2 {
            padding-left: 15px;
            font-size: 25px;
            text-transform: uppercase;
            display: inline-block;
            font-weight: 300;
        }

        .point {
            position: absolute;
            z-index: 1;
            color: #0094ff;
            top: 160px;
            padding-left: 50px;
            font-size: 20px;
        }

        /*form-section*/
        .form-section {
            padding: 70px 35px 70px 35px;
        }

        .keep-text {
            font-size: 12px;
            color: #BDBDBD;
        }

        .forgot-text {
            font-size: 10px;
            color: #BDBDBD;
            text-align: right;
        }
        /*sign-in-btn*/
        .sign-in-btn {
            width: 100%;
            height: 75px;
            position: absolute;
            bottom: 0;
            border-radius: 0px;
            background-color: rgba(63, 78, 191, 1);
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#CustomerLookup').click(function () {
                $('#dialog').dialog("open");
            });

            $('#dialog').dialog({
                modal: true,
                autoOpen: false,
                buttons: [{
                    text: "Go",
                    click: function () {
                        document.getElementById('Email').value = document.getElementById('EmailAddress').value;
                        document.forms["SubmitForm"].submit();
                    }
                }]
            });
        });
    </script>
</head>


<body>
    <div class="signin">
        <div class="back-img">
            <div class="sign-in-text">
                <h2 class="active">Sign In</h2>

            </div><!--/.sign-in-text-->
            <div class="layer">
            </div><!--/.layer-->
            <p class="point">&#9650;</p>
        </div><!--/.back-img-->
        <div class="form-section">
            @*<h2 class="mb-4" style="font-family:'Segoe Print';color:dodgerblue;text-align:center">Please Login</h2>*@
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "SubmitForm" }))
            {
                <alert style="font-family: Arial; margin:1em 0em 1em 0em; color:red; text-align:center">
                    @Html.ViewBag.Message
                </alert>

                <p>
                    @Html.CheckBoxFor(x => x.ResetFlag, new { id = "ResetFlag", style = "visibility:hidden" })
                </p>

                <p>

                    <input id="Email" name="Email" type="hidden" value="">
                </p>

                <div id="dialog">
                    <span>Please Enter email</span>
                    <input type="text" id="EmailAddress" />
                </div>
                @*<h1 class="mb-4" style="font-family:'Segoe Print';color:dodgerblue;text-align:center">Please login</h1>*@
                <div class="form-row">

                    <div class="form-group ">
                        @Html.LabelFor(x => x.CustomerId) <br />&nbsp;
                        @Html.EditorFor(x => x.CustomerId)
                    </div>
                    <div class="form-group ">
                        @Html.LabelFor(x => x.Password)<br />&nbsp;
                        @Html.PasswordFor(x => x.Password)
                    </div>
                    <div class="col-sm-offset-2 col-sm-6" style="text-align:">
                        <input type="button" class="LoginStyle" onclick="UsePassword()" value="Log in" />
                        <input type="text" class="LoginStyle" onclick="ResetPassword()" value="Forgot Mims Password" />
                        <input type="text" class="LoginStyle" id="CustomerLookup" value="Forgot Customer Number" />
                    </div>
                    <br />
                    <a href="~/Home/RegisterEmail" class="signup-image-link">Create an Account</a>


                </div>

            }
        </div>



        <script>
            function UsePassword() {
                try {
                    document.getElementById("ResetFlag").checked = false;
                    document.forms["SubmitForm"].submit();
                }
                catch (message) {
                    alert(message);
                }

            }

            function CustomerLookup() {
                try {

                    window.alert("Under construction.");
                    // Do an Ajax call to find all customers numbers on this email address, plus their names.

                    // Display them in a list where one could be selected.

                    //document.getElementById("ResetFlag").checked = false;
                    //window.alert("Under construction.");


                    //window.alert(document.getElementsByName('Email').values[0]);
                    //document.forms["SubmitForm"].submit();

                }
                catch (message) {
                    window.alert(message);
                }

            }

            function ResetPassword() {

                try {

                    document.getElementById("ResetFlag").checked = true;
                    document.forms["SubmitForm"].submit();
                }
                catch (message) {
                    window.alert(message);
                }

            }

        </script>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</body>
</html>
